.home__content{
    display: flex;
    // grid-template-rows: 10vh 1fr;
    justify-content: center;
}

.home__lines{
    background-color: $secondary;
}

.home__filters{
    display:flex;
    justify-content: space-between;
    align-items: center;
}